@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");

body{
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    overflow-x: hidden;
}
.gui__container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
}
.gui__content{
    color: #FFFFFF;
}
.gui__content-welcome,.gui__nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20%;
    color: #fff;
    font-size: 88px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}
.gui__nav,.gui__controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 64px;
    color: #fff;
    font-family: 'Amatic SC', cursive;
}
.gui__nav ul,.gui__controls ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.gui__nav li ,.gui__controls li{
    margin: 4px;
}
.gui__nav a{
    text-decoration: none;
    color: #ffffff;
    font-size: 48px;
    /*font-weight: normal;*/
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;


}

.gui__nav a:hover{
    border: 1px solid #fff;
    background-color: rgba(255,255,255,0.3);
    transition: 0.5s ease-in;
}
.gui__content.slider{
    height: 100vh;
}
.gui__controls{
    display: flex;
    font-size: 24px;
    padding: 20px;
    position: fixed;
    top: 0;
    left:0;
    justify-content: flex-start;
    width: 100%;
    z-index: 100;
}
.gui__controls a{
    color: #fff;
    font-size: 48px;
    text-decoration: none;
}

.gui__controls a:hover{
    color: rgb(218, 218, 218);
}

.timeline {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;
    position: relative;
}
.timeline__content-title {
    font-weight: normal;
    font-size: 32px;
    margin: -10px 0 0 0;
    transition: .4s;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: "Pathway Gothic One", sans-serif;
    color: #fff;
}
.timeline__content-desc>.expand, .expand-btn{
    margin: 0;
    font-size: 15px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
    font-family: Cardo;
    font-weight: normal;
    line-height: 25px;
}
.timeline:before {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    content: "";
    background: rgba(255, 255, 255, 0.07);
}
@media only screen and (max-width: 767px) {
    .timeline:before {
        left: 40px;
    }
}
.timeline-item {
    padding: 40px 0;
    opacity: .3;
    filter: blur(2px);
    transition: .5s;
    box-sizing: border-box;
    width: calc(50% - 40px);
    display: flex;
    position: relative;
    transform: translateY(-80px);
}
.timeline-item:before {
    content: attr(data-text);
    letter-spacing: 3px;
    width: 100%;
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
    font-family: "Pathway Gothic One", sans-serif;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    top: 70%;
    margin-top: -5px;
    padding-left: 15px;
    opacity: 0;
    right: calc(-100% - 56px);
}
.timeline-item:nth-child(even) {
    align-self: flex-end;
}
.timeline-item:nth-child(even):before {
    right: auto;
    text-align: right;
    left: calc(-100% - 56px);
    padding-left: 0;
    border-left: none;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    padding-right: 15px;
}
.timeline-item--active {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
}
.timeline-item--active:before {
    top: 50%;
    transition: .3s all .2s;
    opacity: 1;
}
.timeline-item--active .timeline__content-title {
    margin: -50px 0 20px 0;
}
@media only screen and (max-width: 767px) {
    .timeline-item {
        align-self: baseline !important;
        width: 100%;
        padding: 0 30px 150px 80px;
    }
    .timeline-item:before {
        left: 10px !important;
        padding: 0 !important;
        top: 50px;
        text-align: center !important;
        width: 60px;
        border: none !important;
    }
    .timeline-item:last-child {
        padding-bottom: 40px;
    }
    .gui__content-welcome, .gui__nav{
        font-size: 32px;
        text-align: center;
	padding-top: 10%;
    }
    .gui__nav ul{
        flex-direction: column;
    }
    .gui__nav li{
        margin: 14px 0;
    }
    .gui__nav a{
        font-size: 24px;
    }
    body {
        background-position-x: -220px;
        min-height: 100%;
        object-fit: cover;
    }
}
.timeline__img {
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
.timeline-container {
    width: 100%;
    position: relative;
    padding: 80px 0;
    transition: .3s ease 0s;
    background-attachment: fixed;
    background-size: cover;
}
.timeline-container:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(99, 99, 99, 0.8);
    content: "";
}
.timeline-header {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}
.timeline-header__title {
    color: #fff;
    font-size: 46px;
    font-family: Cardo;
    font-weight: normal;
    margin: 0;
}
.timeline-header__subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
    font-weight: normal;
}

.demo-footer {
    padding: 60px 0;
    text-align: center;
}
.demo-footer a {
    color: #999;
    display: inline-block;
    font-family: Cardo;
}


/* Large desktops and laptops */
@media (min-width: 1200px) {
    .gui__content-welcome{font-size: 88px;}
    .gui__nav a{font-size: 48px;}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

    .gui__content-welcome{font-size: 68px;}
    .gui__nav a{font-size: 38px;}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .gui__content-welcome{font-size: 48px;}
    .gui__nav a{font-size: 28px;}
}

.expanded{
    overflow: hidden;
    text-overflow: ellipsis;
    height:148px;
}
.expand-btn{
    cursor: pointer;
}
.egg{
    cursor: pointer;
}
.easter{

    color: #e63e3f;
}


.historyWrapp.y30{
    background: url("../img/bg/bg30e.jpg")!important;
    -webkit-background-size: cover!important;
    background-size: cover!important;
}
.historyWrapp.y40{
    background: url("../img/bg/bg40e.jpg")!important;
    -webkit-background-size: cover!important;
    background-size: cover!important;
}
.historyWrapp.y50{
    background: url("../img/bg/vdnh.jpg")!important;
    -webkit-background-size: cover!important;
    background-size: cover!important;
}
.historyWrapp.y60{
    background: url("../img/bg/bg60e.jpg")!important;
    -webkit-background-size: cover!important;
    background-size: cover!important;
}
.historyWrapp.y70{
    background: url("../img/bg/brigbg.jpg")!important;
    -webkit-background-size: cover!important;
    background-size: cover!important;
}
.historyWrapp.kibkid{
    background: url("../img/bg/kibkidbg.jpg")!important;
    -webkit-background-size: cover!important;
    background-size: cover!important;
}

.historyWrapp{
    -webkit-background-size: cover!important;
    background-size: cover!important;
}
.h30{
    color: #fff;
    font-size: 75px;
    display: flex;
    justify-content: center;
    padding: 0 10%;
}

.gui__container.slide-el{
    font-size: 18px;
    line-height: 1.7em;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.banner{
    width: 50%;
    justify-content: center;
    height: 100%;
    display: flex;
}
.banner img{
    align-self: center;
    display: flex;
    width:100%;
}
.text{
    width: 50%;
    padding:12% 10% 0 24px ;
}
.memories{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 16px;
}
.button-memories{
    color: #FFFFFF;
    font-size: 18px;
    border-bottom:1px solid #FFFFFF ;
    padding: 8px;
    margin:0 16px;
    text-decoration: none;

}
.button-memories:hover{
    border-bottom:3px solid #000 ;
    transition: 0.3s ease-in;
    color: #ffffff;
}
.button-memories:nth-child(1){
    margin: 0 32px 0 0 ;

    
}


.gui__icon-container{

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 70px;
    align-self: flex-end;

}
.gui__icon-container .icon{
    width: 40px;
    height: 60px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 35px;
    
}
.gui__icon-container .icon::before{
    content: "";
    width: 4px;
    height: 8px;
    position: absolute;
    background: #ffffff;
    transform: translate(16px ,11px);
    border-radius: 50%;
    opacity: 1;
    animation: icon 2s infinite;
}
@keyframes icon{
    from{
        opacity: 1;
        transform: translate(16px ,11px);
    }
    to{
        opacity: 0;
        transform: translate(16px ,44px);
    }
}

.gui__history-nav{
    position: absolute;
    top: 20px;
    left: calc(100vw - 50%);
    right: 50%;
}
.gui__history-nav, .gui__history-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.gui__history-nav li{
    border-radius: 16px;
    border: 2px solid rgba(255, 255, 255, 0.685);
    margin: 0 4px;
    height: 36px;
    box-sizing: border-box;
    opacity: 0.3;
}
.gui__history-nav a{
    color: #fff;
    text-decoration: none;
}

.gui__history-nav .active,.gui__history-nav li:hover{
    background: #ffffff;
    border-radius: 16px;
    height: 68px;
    opacity: 1;
}
.nav-item img{
    width: 64px;
    height: 32px;
    background-size: cover;
    border-radius: 16px;
    background-size: cover;
}
.gui__history-nav .active .nav-item img,.nav-item img:hover{
    width: 128px;
    height: 64px;   
}


.gui_slider{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 16px 48px;

}
.scrollbar
{
	float: left;
    height: 100%;
	overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
	background-color: rgb(31, 31, 31);
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: rgb(31, 31, 31);
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #ffffff;
}
.welcome_message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    padding:16px 48px 16px 48px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
}
.welcome_message p{
    padding-bottom: 24px;
    color: #FFFFFF;
    
}
.big{
    font-weight: 24px;
    font-weight: bold;
}
.gui_slider .gui__nav{
    padding-top: 0;
}
.gui_slider .gui__nav a{
    color: #FFFFFF;
}
.message-heading{
    text-align: center;
    font-size: 128px;
    font-family: Amatic SC;
    color: #FFFFFF;
    padding-bottom: 60px;
}